<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!------------------ PAGE INFO ------------------>
    <title>PharmaFlow | Activity log</title>
    <meta
      name="description"
      content="Track all system actions with a comprehensive activity log. Monitor user modifications to products and stock levels to ensure accountability and transparency."
    />

    <!------------------ ICON PAGE ------------------>
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/imgs/icon-site/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/imgs/icon-site/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/imgs/icon-site/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/imgs/icon-site/apple-touch-icon.png"
    />
    <link rel="manifest" href="../assets/imgs/icon-site/site.webmanifest" />

    <!------------------ GOOGLE FONT ------------------>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <!------------------ STYLES ------------------>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- FontAwesome ICONS-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!--  -->
    <link rel="stylesheet" href="../assets/css/style.css" />

    <!------------------ JAVASCRIPT ------------------>
    <!-- Bootstrap -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <!--  -->
    <script type="module" src="../assets/pages/activityLog.js"></script>
  </head>

  <body>
    <body>
      <div>
        <!-- Navbar -->
        <header
          class="border-bottom border-bottom-5 border-gray-200 px-4"
        ></header>

        <div class="container-fluid">
          <div class="row">
            <!-- Aside -->
            <aside class="col-12 col-md-3" id="main"></aside>

            <!-- Main page -->
            <main class="col-12 col-md-9 pt-4">
              <section class="dashboard-section">
                <div class="container">
                  <div>
                    <h2 class="fw-bold text-dark-blue mb-1">Activity Log</h2>
                    <p class="text-secondary mb-0">
                      Track all system activities and changes
                    </p>
                  </div>

                  <!-- Complete here -->
                </div>
              </section>
            </main>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
