:root {
  --primary: #1e3a8a;
  --primary-dark: #0f2b5c;
  --primary-light: #3b5f9e;

  --bg-light: #f3f4f6;
  --bg-white: #ffffff;

  --success: #10b981;
  /* In Stock */
  --success-light: #d1fae5;

  --warning: #f59e0b;
  /* Low Stock  */
  --warning-light: #fef3c7;

  --danger: #ef4444;
  /* Out of Stock */
  --danger-light: #fee2e2;

  --info: #3b82f6;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --text-primary: #111827;
  --text-secondary: #6b7280;
  --text-white: #fff;

  --border-light: #e5e7eb;
  --border-dark: #d1d5db;
  /* main page Title and section Titles */
  --font-weight-1: 600;
  /* side bar items , button labels, status tags  */
  --font-weight-2: 500;
  /* table data  placeholder text*/
  --font-weight-3: 400;
  /* font sizes */
  --font-Size-1: 28px;
  --font-Size-1: 24px;
  --font-Size-1: 16px;
  --font-Size-1: 14px;
}

body {
  font-family: "Inter", sans-serif;
}

.main-bg {
  background-color: var(--primary);
}

aside {
  height: 100vh;
  background-color: var(--primary) !important;
}

.aside-hover {
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.aside-hover:hover {
  background-color: var(--text-secondary) !important;
}
